on:
  push:
    branches:
      - main
    paths:
      - 'R/**'
      - 'man/**'
      - 'DESCRIPTION'
      - 'NAMESPACE'
      - '_pkgdown.yml'
      - 'pkgdown/**'
      - 'vignettes/**'
      - 'NEWS.md'
      - 'README.md'
      - '.github/workflows/pkgdown.yml'

name: pkgdown

jobs:
  pkgdown:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
      id-token: write
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: pkgdown, remotes, devtools
          needs: website

      - name: Install package
        run: |
          Rscript -e 'remotes::install_deps(dependencies = TRUE)'
          Rscript -e 'devtools::install()'

      - name: Deploy package
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          Rscript -e 'pkgdown::deploy_to_branch(new_process = FALSE)'

